# 15. Data Frames

In [1]:
import numpy as np 
import pandas as pd
from pandas import Series,DataFrame

In [2]:
import webbrowser

In [19]:
nfl  = pd.read_clipboard()

In [23]:
print nfl.head(11)
nfl.shape

   Rank       Team       Won      Lost  Tied  Pct.   First       NFL Season  \
0     1     Dallas   Cowboys       493   367     6   0.573  1960.000    866
1     2      Green       Bay   Packers   730   553  37.000     0.567   1921
2     3    Chicago     Bears       744   568    42   0.565  1920.000  1,354
3     4      Miami  Dolphins       439   341     4   0.563  1966.000    784
4     5        New   England  Patriots   476   383   9.000     0.554   1960
5     6        New      York    Giants   684   572  33.000     0.543   1925
6     7     Denver   Broncos       465   393    10   0.541  1960.000    868
7     8  Minnesota   Vikings       457   387    10   0.541  1961.000    854
8     9  Baltimore    Ravens       181   154     1   0.540  1996.000    336

   Total  Games Division
0    NFC   East      NaN
1  1,320    NFC    North
2    NFC  North      NaN
3    AFC   East      NaN
4    868    AFC     East
5  1,289    NFC     East
6    AFC   West      NaN
7    NFC  North      NaN
8    AFC  North      NaN

(9, 12)

In [30]:
nfl.stadium = 'Delhi'

In [28]:
nfl.head(10)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,Delhi
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,Delhi
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,Delhi
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,Delhi
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East,Delhi
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East,Delhi
6,7,Denver,Broncos,465,393,10,0.541,1960.000,868,AFC,West,NaN,Delhi
7,8,Minnesota,Vikings,457,387,10,0.541,1961.000,854,NFC,North,NaN,Delhi
8,9,Baltimore,Ravens,181,154,1,0.540,1996.000,336,AFC,North,NaN,Delhi

In [34]:
nfl['Rank']

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
Name: Rank, dtype: int64

In [39]:
nfl['Pct.']

0      6
1    553
2     42
3      4
4    383
5    572
6     10
7     10
8      1
Name: Pct., dtype: int64

In [45]:
nfl.ix[0:2]

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,Delhi
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,Delhi
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,Delhi

In [47]:
stadiums = Series(['Delhi' , 'Bombay'], index=[1,3])

In [48]:
nfl['stad'] = stadiums

In [51]:
nfl

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,stadium,stad
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,Delhi,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,Delhi,Delhi
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,Delhi,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,Delhi,Bombay
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East,Delhi,NaN
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East,Delhi,NaN
6,7,Denver,Broncos,465,393,10,0.541,1960.000,868,AFC,West,NaN,Delhi,NaN
7,8,Minnesota,Vikings,457,387,10,0.541,1961.000,854,NFC,North,NaN,Delhi,NaN
8,9,Baltimore,Ravens,181,154,1,0.540,1996.000,336,AFC,North,NaN,Delhi,NaN

In [58]:
del nfl['stad']

# 16. Index Objects

In [61]:
nfl.drop(8)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East
6,7,Denver,Broncos,465,393,10,0.541,1960.000,868,AFC,West,NaN
7,8,Minnesota,Vikings,457,387,10,0.541,1961.000,854,NFC,North,NaN

In [63]:
del nfl['Division']

In [64]:
nfl

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC
6,7,Denver,Broncos,465,393,10,0.541,1960.000,868,AFC,West
7,8,Minnesota,Vikings,457,387,10,0.541,1961.000,854,NFC,North
8,9,Baltimore,Ravens,181,154,1,0.540,1996.000,336,AFC,North

In [68]:
nfl.drop(2)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC
6,7,Denver,Broncos,465,393,10,0.541,1960.000,868,AFC,West
7,8,Minnesota,Vikings,457,387,10,0.541,1961.000,854,NFC,North
8,9,Baltimore,Ravens,181,154,1,0.540,1996.000,336,AFC,North

In [74]:
nfl.drop('Won' , axis=1).head(2)['Team']

0    Dallas
1     Green
Name: Team, dtype: object